html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: url('../public/bg.jpg'),rgba(125,70,127,0.85); */
  /* background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge; */
  color: #333;
  /* font-family: 'Poppins', sans-serif; */
  /* letter-spacing: 1px; */
}

a {
  color: inherit;
  text-decoration: none;
}
