@import "mixins";

$font-color: white;
$bg-color: #057788;
$bg-color: lightblue;

.container {
  padding: 0 2rem;
}

.main {
  // min-height: 100vh;
  // padding: 4rem 0;
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.h1 {
  font-family: 'Poppins', sans-serif;
  color: $font-color;
  text-transform: uppercase;
  @include clamp-font(2rem,3rem);
  // border-radius: 8px;
  text-shadow: 0 0 1px #fff;
  padding: 5px 40px;
  margin-top: 10px;
  position: relative;
  background-color: $bg-color;
  text-align: center;
  // overflow: hidden;
}

.h3 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: $bg-color;
  color: $font-color;
  border: 1px solid #333;
}